@use 'variables' as *;
@use 'base/reset';
@use 'components/game-card';

body {
    background-color: $primary-color;
    color: $text-light;
    font-family: sans-serif;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  padding: 2rem 0;
  text-align: center;
}