*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;

  
}

.game-card {
  background-color: rgb(51.5, 51.5, 51.5);
  padding: 1rem;
  border-radius: 8px;
}
.game-card img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.game-card h3 {
  margin-top: 0.5rem;
  color: #e50914;
}
.game-card .btn {
  display: inline-block;
  background-color: #e50914;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1rem;
}
.game-card .btn:hover {
  opacity: 0.8;
  background-color: #1a1a1a;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: sans-serif;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15rem;
  padding: 2rem 0;
}

.game-detail{
  text-align: center;

}