body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    background-color: cadetblue;
}

nav a {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    font-size: x-large;
    background-color: white;
    border-radius: 30px;
}

.intro {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

footer {
    margin-top: 100px;
}

.about-content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-width: 600px;
  animation: zoom 1s infinite;
}


@keyframes zoom {
  from {transform: scale(1);}
  to {transform: scale(1.2);}

}
h3 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.game-details {
  text-align: center;
}