*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;  
}


.game-card {
  background-color: rgb(63, 54, 54);
  padding: 1rem;
  border-radius: 8px;
}
.game-card img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.game-card h3 {
  margin-top: 0.5rem;
  color: #f8f2f2;
}
.game-card .btn {
  display: inline-block;
  background-color: #09e5ae;
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  margin: 1rem 1rem 0 0;;
}
.game-card .btn:hover {
  opacity: 0.8;
  background-color: #f01010;
  transition: ease-in-out 0.3s;
}

body {
  background-color: #eee9e9;
  color: #0a0101;
  font-family: sans-serif;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15rem;
  padding: 2rem 0;
}

.about-content {
 text-align: center;
 margin: auto;
 background-color: royalblue;
 padding: 2rem;
 border-radius: 5px;
 border: #0a0101 solid 2px;
 :hover {
  background-color: white;
  border-radius: 8px;
 }

}

.game-detail{
  text-align: center;
}

