<%- include('partials/header') %>
<main style="text-align: center; padding: 4rem;">
    <h1>404</h1>
    <p>OOPS!! Could not find the page you are looking for.</p>
    <a href="/" class="btn">go home</a>
</main>
<%- include('partials/footer') %>