<%- include('partials/header') %>

<section class="about-content">
    <h2>Who am I</h2>
    <p>Im a student in Vefforitun 2 learning to create full-stack applications.</p>
</section>

<%- include('partials/footer') %>