<%- include('partials/header') %>

<section class="intro">
    <p>Welcome to the best website in the country.</p>
    <p>Here you will know more about me</p>
</section>

<%- include('partials/footer') %>